Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.db
*.opendb
x64/
[Bb]in
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opensdf
\!Release/
\!Publish/
\!Debug/
.vs/
packages/
.tfignore
makediff*.*
makesnap*.*
irrlicht-1.8.4/
BriscWall Master.sln